#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 80px;
  color: #2c3e50;
}
body {
  background-color:darkgray;
}
.mainframe {
  background-color: rgb(165, 18, 18);
  min-height: 40vh;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  padding-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
@media (orientation: landscape) {
  .scores {
    background-color: white;
    border: black 10px solid;
    margin: 10px;
    height: 50vh;
    border-radius: 10px;
  }
  .nopeustesti {
    display: flex;
    background-color: rgb(165, 18, 18);
    border: black 5px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 7vh;
    color: black;
    border-radius: 10px;
    width: 40%;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 600;
  }
  .speedscale {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: rgb(165, 18, 18);
    height: 9vh;
    width: 60%;
    border: black 5px solid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}
@media (orientation: portrait) {
  .scores {
    background-color: white;
    border: black 10px solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 60vh;
    border-radius: 10px;
  }
  .nopeustesti {
    display: flex;
    background-color: rgb(165, 18, 18);
    border: black 5px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 7vh;
    color: black;
    border-radius: 10px;
    width: 60%;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-weight: 600;
  }
  .speedscale {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: rgb(165, 18, 18);
    height: 9vh;
    width: 80%;
    border: black 5px solid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}
.controls {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.scale {
  display: flex;
  height: 70%;
  width: 10%;
  background-color: gold;
  margin: 0.8vw;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  color: black;
  font-weight: 600;
  border-radius: 10px;
}
.display {
  display: flex;
  background-color: rgb(19, 11, 11);
  height: 8vh;
  width: 150px;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  color: rgb(165, 18, 18);
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  min-height: 80px;
}
@media (orientation: portrait) {
  #button-1, #button-2, #button-3, #button-4 {
    width: 23%;
    aspect-ratio: 1 / 1;
    border: black 0.5vw solid;
    border-radius: 50%;
  }
}
@media (orientation: landscape) {
  #button-1, #button-2, #button-3, #button-4 {
    width: 20%;
    aspect-ratio: 1 / 1;
    border: black 0.5vw solid;
    border-radius: 50%;
  }
}

.button-1 {
  background-color: rgba(0, 0, 255, 0.2);
}
.button-2 {
  background-color: rgba(255, 166, 0, 0.2);
}
.button-3 {
  background-color: rgba(200, 200, 200, 0.2);
}
.button-4 {
  background-color: rgba(31, 87, 56, 0.2);
}
.button-1-active {
  background-color: rgb(50, 98, 255);
}
.button-2-active {
  background-color: rgb(255, 230, 0);
}
.button-3-active {
  background-color: rgb(200, 200, 200);
}
.button-4-active {
  background-color: rgb(32, 177, 13);
}
.scoreTable {
  font-size: 20px;
}
